.wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: -28px;
}

.wrapper input {
    width: 638px;
    padding: 1rem;
    font-size: 1rem;
    line-height: 22.4px;
    color: var(--gray-300);
    border: 1px solid var(--gray-700);
    background: var(--gray-500);
    border-radius: 8px;
}

.wrapper input:focus {
    color: var(--gray-100);
    outline-style: none;
    border: 1px solid var(--PurpleDark, #5E60CE);
}

.wrapper button {
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--gray-100);
    padding: 16px;
    border: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 8px;
    background: var(--blue-500);
    cursor: pointer;
    transition: background .2s;
}

.wrapper button:hover {
    background: var(--blue-300);
}